.version.downloads /* version checker */
{
	color: #0000E9;
	background-color: #B1F5C5;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 63px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 437px;
	margin-left: auto;
	margin-right: auto;
}

#u130-4
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#menuu135
{
	z-index: 6;
	width: 761px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 179px;
}

#u136
{
	width: 188px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
}

#u137
{
	width: 188px;
	padding-bottom: 26px;
	position: relative;
}

#u137:hover
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u137:active
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u137.MuseMenuActive
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u139-4_clip
{
	width: 188px;
	height: 17px;
}

#u143
{
	width: 189px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u144
{
	width: 189px;
	padding-bottom: 26px;
	position: relative;
}

#u144:hover
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u144:active
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u181
{
	width: 189px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	left: 381px;
}

#u182
{
	width: 189px;
	padding-bottom: 26px;
	position: relative;
}

#u144.MuseMenuActive,#u182:hover
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u182:active
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u202
{
	width: 189px;
	min-height: 43px;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u203
{
	width: 189px;
	padding-bottom: 26px;
	position: relative;
}

#u182.MuseMenuActive,#u203:hover
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u203:active
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u203.MuseMenuActive
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u146-4_clip,#u185-4_clip,#u205-4_clip
{
	width: 189px;
	height: 17px;
}

#u139-4,#u146-4,#u185-4,#u205-4
{
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}


